

<h1>İLETİŞİM</h1>
<hr />
<label>LinkedIn :</label><span>
    <a href="https://www.linkedin.com/in/1hakansahin/">Profile git.</a></span>
<hr />
<a onclick="Mail()" class="btn btn-success" >Mail iste</a>
<hr />
<script>
    function Mail() {
        alert("Mail Adress : hknshn55@hotmail.com" )
    }
    
</script>