

<h1>İLETİŞİM</h1>
<hr />
<label>LinkedIn :</label><span>
    <a href="https://www.linkedin.com/in/1hakansahin/">Profile git.</a>
</span>
<hr />
<a onclick="Redirect()" class="btn btn-success">Mail iste</a>
<hr />
<script>
     function Redirect()
     {
        var cf = confirm("Mail Adress : hknshn55@hotmail.com \n" + "Outlook hesabınıza erişmek için tamam seçeneğini tıklayabilirsiniz.");
        if (cf)
        {
           window.location.assign("https://outlook.live.com/owa/");
        }
     };
</script>